
  .container{
    margin-bottom: 50px;
}
h1,h2,h3,h4,h5{
  font-family: 'Anton', sans-serif;
 }
 .nav-bg{
  background-color: #fffbf0;
  }
  .font{
  font-size: 60px;}
  
  .colored{
      color:#FABE4C;
  }
  .Black{
      color:#363958;
  }
  .btnn{
      background-color:#A4BC46;
      border: none;
  }
  .image-bg{
      margin: 20px;
      
  }
  .card{
      border: none;
      box-shadow: 10px 10px 40px rgb(209, 207, 207);
      border-radius: 10px;        
  }
  .cart-btn{
      border-radius: 5px;
      background-color:olivedrab;
  
  }
  .buy-area{
      margin: 10px;
  }
  .image-resize{
      background-color: rgba(224, 223, 223, 0.377);
      padding: 20px 10px;
      object-fit: contain;
      height: 350px;
      border-radius: 20px;
  }
  .btn-modify{
      padding: 15px 30px;
      border-radius: 8px;
      background-color: #A4BC46;
      border: none;
  }
  .jacket-row{
      margin-top: 2%;
  }
  .last-area{
      margin-top: 5%;
      margin-bottom: 10%;
  }
  .info-area{
      border-radius: 10px;
  }